{% extends 'base.html.twig' %}

{% block title %}Hello mediaController!{% endblock %}

{% block body %}

<h2 class="text-center mt-5">Veuillez ajouter des photos</h2>
<div class="container">
{{form_start(form)}}
{{form_rest(form)}}


{% if form is not empty and form | length > 0 %}
<button type="submit">Envoyer</button>
{% endif %}

{{form_end(form)}}



<a href="{{ path('app_orga_orgaView',{'id': lieu.organisateur.id}) }}">
<button>Valider</button>
</a>

</div>


{% endblock %}
