
{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-justify">
    <h1>Mentions Légales</h1>
    
    <h2>1. Informations sur l'éditeur du site :</h2>
    <p>GalleryGather de l'entreprise :</p>
    <p>10 rue de la joie : </p>
    <p>0664980807 :</p>
    <p>GallleryGather@gmail.com :</p>

    <h2>2. Directeur de la publication :</h2>
    <p>GalleryGather :</p>
    <p>Contact :</p>

    <h2>3. Hébergeur :</h2>
    <p>GalleryGather :</p>
    <p>10 rue de la joie :</p>
    <p>0664980807 :</p>
    <p>GallleryGather@gmail.com :</p>

    <h2>4. Propriété intellectuelle :</h2>
    <p>Tous droits réservés. Le contenu de ce site est la propriété de [GalleryGather de l'entreprise].</p>

    <h2>5. Politique de confidentialité :</h2>
    <p>Veuillez consulter notre politique de confidentialité pour plus d'informations sur la collecte et l'utilisation de vos données personnelles.</p>

    <h2>6. Cookies :</h2>
    <p>Ce site utilise des cookies. Veuillez consulter notre politique en matière de cookies pour plus d'informations.</p>

    <h2>7. Contact :</h2>
    <p>Pour toute question ou réclamation concernant ce site, veuillez nous contacter à l'10 rue de la joie [10 rue de la joie_GallleryGather@gmail.com].</p>
</div>
</div>
</div>
</div>
{% endblock %}