{% extends "base.html.twig" %}

{% block body %}
<h1 class="text-center">Edition de profil</h1>

<div class="p-5">
{{ form_start(form)}}
{{ form_rest(form)}}
<button class="btn btn-primary">Modifier</button>
{{ form_end(form)}}
</div>






{% endblock %}